$text-gray: #a7a2a2;
$text-black:#212427;
$color-success: #21a67a;
$success-backgrund:#e0eee4;
$color-error:#f23648;
$error-backgrund:#fddfe2;
$blue:#618CFB;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
$family: 'Manrope',
sans-serif;