$text-black:#212427;
$white:#ffffff;
$text-gray: #a7a2a2;
$input-border:#E6E8EA;
$border:#EDEDED;
$icon:#C4C4C4;
$page-backgroud: #F1F8FF;
$primary: #618CFB;
$primary-hover:#6181d3;
$success-backgrund:#e0eee4;
$color-success: #21a67a;
$color-error:#f23648;
$error-backgrund:#fddfe2;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
$family: 'Manrope',
sans-serif;